---
	import Layout from '../layouts/Layout.astro';
	import ContactCard from '../components/ContactCard.astro';
	import HeaderNav from '../components/HeaderNav.astro';
	
---

<Layout title="Barber.">
	<header class="fixed top-0 left-0 z-20 w-full  bg-black  overflow-hidden">
        <HeaderNav />

    </header>
	<main class="overflow-x-hidden pt-[8rem] ">
	<section class="p-[5rem]">
	<ContactCard>
	</ContactCard>
	</section>
	
		
	</main>
	<footer class="overflow-hidden">
		
	</footer>


</Layout>