---
    import Layout from '../layouts/Layout.astro';
    import GalleryCard from '../components/GalleryCard.astro';
    import HeaderNav from '../components/HeaderNav.astro';
    import Footer from '../components/Footer.astro';

---

<Layout title="Barber.">
    <header class="bg-black  bg-contain  fixed w-full  overflow-hidden ">
        <HeaderNav />

    </header>
    <main class="px-[1rem] md:px-20 pt-[11rem]">
        <section class="mb-[1rem]">
            <p class="text-center text-2xl font-bold">Check out some of our most popular hairstyles!</p>
        </section>
        <section class="flex flex-col md:flex-row w-full flex-wrap justify-between gap-[1rem] md:gap-[3rem] ">
            <GalleryCard image="/gal1.jpg">
            </GalleryCard>
            <GalleryCard image="/gal2.jpg">
            </GalleryCard>
            <GalleryCard image="/gal3.jpg">
            </GalleryCard>
            <GalleryCard image="/gal4.jpg">
            </GalleryCard>
            <GalleryCard image="/gal5.jpg">
            </GalleryCard>
            <GalleryCard image="/gal6.jpg">
            </GalleryCard>
            <GalleryCard image="/gal7.jpg">
            </GalleryCard>
            <GalleryCard image="/gal8.jpg">
            </GalleryCard>
            <GalleryCard image="/gal9.jpg">
            </GalleryCard>
            <GalleryCard image="/gal10.jpg">
            </GalleryCard>
            <GalleryCard image="/gal11.jpg">
            </GalleryCard>
            <GalleryCard image="/gal12.jpg">
            </GalleryCard>
            <GalleryCard image="/gal13.jpg">
            </GalleryCard>
        </section>
        <div class="w-full grid place-items-center my-[3rem]">
            <a href="/contact"
                class="bg-black text-white py-[1rem] w-[11rem] md:w-[15rem] flex justify-center block mt-[1.5rem]">
                Book Appointment
            </a>
        </div>

    </main>
    <footer>
        <Footer />
    </footer>

</Layout>