---
	
---

<div class="link-card w-full ">
	
</div>
<style>
	.link-card {
		
		height: 40rem;
		list-style: none;

		overflow: hidden;

		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;

		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	}

	.image-container {
		height: 100%;
	}

	
	.image-container img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	.link-card div {}

	.link-card>a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}
</style>