---
    import Layout from "../layouts/Layout.astro";

---

<Layout title="Barber.">
    <section>
        <div class="flex justify-between px-[1rem] md:px-20 py-[3rem] bg-black text-white">
            <div class=" grid place-items-center">
            <p>
            Logo
            </p>
            </div>
            <nav class="flex flex-col gap-[2rem]">
                <a href="/">Home</a>
                <a href="/service">Services</a>
                <a href="/gallery">Gallery</a>
                <a href="/about">About</a>
                
            </nav>
            <div class="w-[5rem] md:w-[10rem]">
                <p>Contact</p>
                <p>No 3A MOUAU Estate, Victoria Island, Lagos, Nigeria.</p>
                <p>+2348144961396</p>
            </div>
            <div>
            <h2>Newsletter</h2>
            </div>

        </div>

    </section>


</Layout>